body {
    background-color: #FFF;
}

[role=main], .main {
    background: #fff;
}

.account {
    margin-top: 10px;
}

.region-langswitch ul {
    margin:0;
}

.wrapper {
    -webkit-border-radius: 0px;
            border-radius: 0px;
 -webkit-box-shadow: none;
         box-shadow: none;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    background-color: #FFF;
    -webkit-box-shadow: none;
            box-shadow: none;
    color:#333;
}

.navbar .nav > li > a {
  float: none;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #333;
  text-decoration: none;
  text-shadow: none;
}

header.page-header {
    border-bottom: none;
    background: none;
}

.media-grid {
  border:none;
  background:none;
}

.toolbar .breadcrumb {
  font-size: 15px;
}
.toolbar .breadcrumb li:after {
    content:'';
}
.toolbar .breadcrumb > li + li:before {
    font-size: 20px;
    content:'chevron_right';
    font-family: 'Material icons';
    display: inline-block;
    top: 5px;
    position: relative;
}

.toolbar .breadcrumb .material-icons {
    margin-top: -16px;
}

.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active {

}


.module h1 {
    font-size: 28px;
}
.module h2 {
    font-size: 21px;
}
.module h3 {
    font-size: 18px;
}

h2.module-heading {
    margin: 0;
    padding: 7px 25px;
    font-size: 14px;
    line-height: 1.3;
    background-color: #f6f6f6;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}



.nav-item.active>a, .nav-aside li.active a {
   background-color: #4a90e2;
}

.nav-item.active > a:hover,
.nav-aside li.active a:hover {
   background-color: #4a90e2;
}

.pill {
  background-color: #4a90e2;
}

a.tag:hover {
  background-color: #4a90e2;
  border-color:#cecece;
}
.module-narrow .nav-item>a, .module-narrow .nav-aside li a {
  padding-top:6px;
  padding-bottom:6px;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height:30px;
}

.module-content select,
.module-content input[type="text"],
.module-content input[type="password"],
.module-content input[type="datetime"],
.module-content input[type="datetime-local"],
.module-content input[type="date"],
.module-content input[type="month"],
.module-content input[type="time"],
.module-content input[type="week"],
.module-content input[type="number"],
.module-content input[type="email"],
.module-content input[type="url"],
.module-content input[type="search"],
.module-content input[type="tel"],
.module-content input[type="color"],
.module-content .uneditable-input 
 {
    width:100%;
}

.editor select,
.editor input[type="text"],
.editor input[type="password"],
.editor input[type="datetime"],
.editor input[type="datetime-local"],
.editor input[type="date"],
.editor input[type="month"],
.editor input[type="time"],
.editor input[type="week"],
.editor input[type="number"],
.editor input[type="email"],
.editor input[type="url"],
.editor input[type="search"],
.editor input[type="tel"],
.editor input[type="color"],
.editor .uneditable-input 
 {
    width:auto;
}

.input-append .add-on, .input-prepend .add-on {
    height:30px;
}

.controls .btn ,
.content_action .btn {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    border-color: #ccc;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
}

.table-actions .btn  {
    font-weight: bold;
    border-color: #ccc;

}

.btn,.btn-primary {
    -webkit-border-radius: 0px !important;
            border-radius: 0px !important;
}



.wrapper .simple-input .field .btn-search {
    top: 46%;
    right: 16px;
}

.searchbar input,
.searchbar input:focus {
    border-right: none;
    border: none;
    border-radius:0px;
    height: 42px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.searchbar button {
    background:none;
    box-shadow:none;
    border: solid 1px #ffffff;
    width:100%;
    height: 42px;
    padding:7px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}


.btn-group.open .btn-primary.dropdown-toggle {
      background: #4a90e2;
      border-color: #ccc;
      -webkit-box-shadow: none;
              box-shadow: none;
}
.btn-primary {
    border: 1px solid #ccc;
    text-shadow: none;
}

.btn-primary:hover {
   border-color: #ccc;
   background: #4a90e2;
}

.dropdown-menu>li>a {
      border-color: #ccc;
            -webkit-box-shadow: none;
              box-shadow: none;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  background: #4a90e2;
  color:#fff;
}

.btn {
    border: 1px solid #ccc;
    text-shadow: none;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 650px;
    margin-left: -325px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
    max-height: 470px;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 405px;
    padding: 15px;
}

.captcha {
    margin-top: 20px;
}

.table-bordered {
    border-collapse: collapse;
}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .toolbar .breadcrumb {
        padding-left:15px;
    }

    .account {
        margin-top: 11px;
    }
  .account-wrapper li {
    height:31px;
  }
  .account li a {
    padding: 6px 5px;
    padding-top:3px;
    font-size: 12px;
  }

}

.searchbar .data-search-form {
    margin:0;
}

img {
    max-width: initial;
}
.media-item img {
  max-width: 100%;
}


.navbar-custom .nav>.active>a:hover,
.navbar-custom .nav>.active>a:focus {
  background-color: #f0f0f0;
}
.navbar-custom ul.nav li a:hover {
  background-color: #f0f0f0;
}

@media (min-width: 1024px) {
  .span9 {
      width: 733px;
  }
}

.stages {
  padding:0;
}

.form-horizontal .control-label {
  text-align: left;
}

/* text view */
body {
  width: auto;
}

[role=main] {
    flex: 1 1 auto;
}

.modal {
    display: flex;
    flex-direction: column;
}

.hide {
  display: none;
}

.modal-body {
  flex: 0 1 auto;
}