<div class="mainmenu">
  <div class="container">
    <div class="col-md-3 slogo">
                             <div class="col-sm-12" role="heading">
              <div class="region region-header">
          <a class="logo navbar-btn pull-left" href="/en" title="Home" rel="home">
      <img src="/themes/dati/logo.svg" alt="Home" />
    </a>
      
  </div>

          </div>
                  </div>
    <div class="col-xs-2 visible-xs pull-right">
                <div class="" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
<span class="material-icons" style="font-size: 48px;  color: #333333; text-align: right;">dehaze</span>
                </div>

    </div>
    <div class="col-md-9 hidden-xs">
                                  <header class="navbar navbar-custom container" id="navbar" role="banner">
                        <div class="navbar-header">
                <div class="region region-navigation">
    <nav role="navigation" aria-labelledby="block-dati-mainnavigation-menu" id="block-dati-mainnavigation">
            <h2 class="sr-only" id="block-dati-mainnavigation-menu">Main navigation</h2>

      
              <ul class="menu nav navbar-nav">
                            <li>
        <a href="/dati/en/dataset" target="" rel="" class="fa fa-database">Data</a>
                  </li>
                        <li>
        <a href="/en/node/17" target="" rel="" data-drupal-link-system-path="node/17"> Learn the skills of data</a>
                  </li>
                        <li>
        <a href="/en/node/4" data-drupal-link-system-path="node/4">For publishers</a>
                  </li>
                        <li>
        <a href="/en/buj" target="" rel="" data-drupal-link-system-path="buj">FAQ</a>
                  </li>
                        <li>
        <a href="/en/aktualitates" target="" rel="" class="menu2" data-drupal-link-system-path="aktualitates">News</a>
                  </li>
                        <li>
        <a href="/en/node/5" target="" rel="" class="menu2" data-drupal-link-system-path="node/5">About portal</a>
                  </li>
        </ul>
  


  </nav>

  </div>

                                        </div>

                                              </header>
                  </div>
  </div>
</div>

<div class="container">
  <div class="visible-xs">
  <div id="navbar-collapse" class="navbar-collapse collapse">
      <div class="region region-navigation">
    <nav role="navigation" aria-labelledby="block-dati-mainnavigation-menu" id="block-dati-mainnavigation">
            <h2 class="sr-only" id="block-dati-mainnavigation-menu">Main navigation</h2>

      
              <ul class="menu nav navbar-nav">
                            <li>
        <a href="/dati/en/dataset" target="" rel="" class="fa fa-database">Data</a>
                  </li>
                        <li>
        <a href="/en/node/17" target="" rel="" data-drupal-link-system-path="node/17"> Learn the skills of data</a>
                  </li>
                        <li>
        <a href="/en/node/4" data-drupal-link-system-path="node/4">For publishers</a>
                  </li>
                        <li>
        <a href="/en/buj" target="" rel="" data-drupal-link-system-path="buj">FAQ</a>
                  </li>
                        <li>
        <a href="/en/aktualitates" target="" rel="" class="menu2" data-drupal-link-system-path="aktualitates">News</a>
                  </li>
                        <li>
        <a href="/en/node/5" target="" rel="" class="menu2" data-drupal-link-system-path="node/5">About portal</a>
                  </li>
        </ul>
  


  </nav>

  </div>

  </div>
</div>
</div>

<div class="searchbar">
  <div class="container">
   <div class="row">
    <div class="col-md-8 col-xs-12">
  <form action="/dati/en/dataset" method="get" accept-charset="UTF-8" class="data-search-form">
<div class="row">
    <div class="col-sm-8 col-xs-8">
      <div class="input-group">
        <input name="q" type="text" class="form-control" placeholder="Enter search terms" aria-describedby="basic-addon1">
        <span class="input-group-addon addon-blue" id="basic-addon1"><i class="material-icons">search</i></span>
      </div>
    </div>
    <div class="col-sm-3 col-xs-4">
      <button type="submit" value="Meklēt" class="btn-transparent2">Search</button>
    </div>
</div>
  </form>



    </div>
    <div class="col-md-4 hidden-xs">
                          <div class="region region-menu2">
    <nav role="navigation" aria-labelledby="block-galvenanavigacija-2-menu" id="block-galvenanavigacija-2">
            <h2 class="sr-only" id="block-galvenanavigacija-2-menu">Galvenā navigācija</h2>

      
              <ul class="menu nav navbar-nav">
                            <li>
        <a href="/dati/lv/dataset" target="" rel="" class="fa fa-database set-active-parent">Datu katalogs</a>
                  </li>
                        <li>
        <a href="/dati/en/dataset" target="" rel="" class="fa fa-database">Data</a>
                  </li>
                        <li>
        <a href="/en/node/17" target="" rel="" data-drupal-link-system-path="node/17"> Learn the skills of data</a>
                  </li>
                        <li>
        <a href="/en/node/4" data-drupal-link-system-path="node/4">For publishers</a>
                  </li>
                        <li>
        <a href="/en/buj" target="" rel="" data-drupal-link-system-path="buj">FAQ</a>
                  </li>
                        <li>
        <a href="/en/aktualitates" target="" rel="" class="menu2" data-drupal-link-system-path="aktualitates">News</a>
                  </li>
                        <li>
        <a href="/en/node/5" target="" rel="" class="menu2" data-drupal-link-system-path="node/5">About portal</a>
                  </li>
        </ul>
  


  </nav>

  </div>

                  </div>
  </div>
</div>
</div>






  