<div class="fwrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-1">
        <div class="logo-footer"></div>
    </div>
    <div class="col-sm-11">
                        <footer class="footer container" role="contentinfo">
              <div class="region region-footer">
    <nav role="navigation" aria-labelledby="block-galvenanavigacija-menu" id="block-galvenanavigacija">
            <h2 class="sr-only" id="block-galvenanavigacija-menu">Galvenā navigācija</h2>

      
              <ul class="menu nav navbar-nav">
                            <li>
        <a href="/dati/lv/dataset" target="" rel="" class="fa fa-database">Datu katalogs</a>
                  </li>
                        <li>
        <a href="/lv/kas-ir-datu-kopa" target="" rel="" data-drupal-link-system-path="node/17">Apgūsti datu prasmes</a>
                  </li>
                        <li>
        <a href="/lv/publicetajiem" data-drupal-link-system-path="node/4">Publicētājiem</a>
                  </li>
                        <li>
        <a href="/lv/buj" target="" rel="" data-drupal-link-system-path="buj">Jautājumi un atbildes</a>
                  </li>
                        <li>
        <a href="/lv/aktualitates" target="" rel="" class="menu2" data-drupal-link-system-path="aktualitates">Aktualitātes</a>
                  </li>
                        <li>
        <a href="/lv/par-portalu" target="" rel="" class="menu2" data-drupal-link-system-path="node/5">Par portālu</a>
                  </li>
        </ul>
  


  </nav>

  </div>

          </footer>
                  </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm-8">
                        <div class="footer-copyright">
              <div class="region region-footer-copy">
    <section id="block-autortiesibuinformacija" class="block block-block-content block-block-content255de129-5625-4619-9609-d2065e967e1a clearfix">
  
    

      
            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><p>© 2017. Valsts reģionālās attīstības aģentūra. Visas tiesības paturētas.<br />
Datu autortiesības tiek regulētas ar katru, konkrēto datu piegādātāju.</p>
</div>
      
  </section>


  </div>

          </div>
                  </div>
    <div class="col-sm-4 footer-social">


                           <div class="region region-footer-social">
    <section id="block-socialassaites" class="block block-block-content block-block-contentdaebf0fa-61f5-4dcf-97e7-e71f478a1492 clearfix">
  
    

      
            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><div class="row">
<div class="col-md-5">  </div>

<div class="col-md-7"><a href="mailto:dpp@vraa.gov.lv"><i class="fa fa-envelope-square"> </i>dpp@vraa.gov.lv</a></div>
</div>
</div>
      
  </section>


  </div>

                  </div>
  </div>
</div>



   </div>

    
    