{% set current_lang = request.environ.CKAN_LANG %}
{% set current_url = request.environ.CKAN_CURRENT_URL %}
<div class="topbar">
  <div class="container">
  <div class="row">
    <div class="col-sm-2 col-xs-4">
  <div class="region region-langswitch">

<section class="language-switcher-language-url block block-language block-language-blocklanguage-interface clearfix" id="block-dati-languageswitcher" role="navigation">
<ul class="links">
  <li hreflang="en" data-drupal-link-system-path="&lt;front&gt;" class="en {% if current_lang == 'eng' %}is-active{% endif %}">
    <a href="{% url_for current_url, locale='eng' %}" class="language-link {% if current_lang == 'eng' %}is-active{% endif %}" hreflang="en" data-drupal-link-system-path="&lt;front&gt;">English</a>
  </li>
  <li hreflang="lv" data-drupal-link-system-path="&lt;front&gt;" class="lv {% if current_lang == 'lv' %}is-active{% endif %}">
    <a href="{% url_for current_url, locale='lv' %}" class="language-link {% if current_lang == 'lv' %}is-active{% endif %}" hreflang="lv" data-drupal-link-system-path="&lt;front&gt;">Latviešu</a>
  </li>
</ul>
  </section>
  </div>
</div>
    <div class="col-sm-2 accessibility hidden-xs">
      <div class="contrast">
        <i class="material-icons mi-left">brightness_6</i>
       {% if current_lang == 'eng' %} high contrast {% else %} augsts kontrasts {% endif %}
      </div>
    </div>
    <div class="col-sm-2 accessibility  hidden-xs">
      <div class="textsize">
        <i class="material-icons text_smaller mi-left">remove_circle_outline</i>
               {% if current_lang == 'eng' %} text {% else %} teksts {% endif %}
        <i class="material-icons text_larger  mi-right">add_circle_outline</i>
      </div>
    </div>
    <div class="col-sm-6  col-xs-8">
      <div class="pull-right account-wrapper">
{% block header_account %}
    <!-- auth_marker -->
      {% block header_account_container_content %}
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">
              {% block header_account_logged %}
              {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="fa fa-legal" aria-hidden="true"></i>
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                </a>
              </li>
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                  <i class="fa fa-dashboard" aria-hidden="true"></i>
                  <span class="text">{{ _('Dashboard') }}</span>
                  <span class="badge">{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="text">{{ _('Settings') }}</span>
                  </a>
                </li>
              {% endblock %}
              {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                  </a>
                </li>
              {% endblock %}
              {% endblock %}
            </ul>
          </div>
        {% else %}
          <nav class="account not-authed">
            <ul class="unstyled">
              {% block header_account_notlogged %}
              {% if h.check_access('user_create') %}
              <li><a class="sub" href="/{{current_lang}}/reg"><i class="material-icons color-nice-blue">vpn_lock</i> {{ _('Register') }}</a></li>
              {% endif %}
              <li><a href="/dati/{{current_lang}}/user/login"> <i class="material-icons color-nice-blue">vpn_key</i> {{ _('Log in') }}</a></li>
              {% endblock %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}
    <!-- auth_marker -->
{% endblock %}
      </div>
    </div>
    </div>
  </div>
</div>

{% if current_lang=='lv' %}
  {% include 'ckan_header_lv.html' %}
{% else %}
  {% include 'ckan_header_en.html' %}
{% endif %}

{% block header_wrapper %}

{% endblock %}
